body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-container {
  background-color: #35BAD8;
  width: 100%;
  margin: 0 auto;
}
.header {
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #fff;
}
.navbar {
  height: 90px;
  width: 80%;
  margin: 0 auto;
}
/* .header > div {
  background-color: red;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
} */
.container {
  margin-top: 1rem;
  width: 80%;
}
.font-small {
  font-size: 0.6rem;
}
.text-right {
  text-align: right!important;
}
.input-text {
  width: 35%;
  font-size: 0.6rem;
}
.card {
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.smaller-btn {
  padding: 1px 5px;
  border-radius: 15px;
  margin-left: 0.5rem;
  font-size: 0.6rem!important;
}
.btn {
  font-size: 14px;
  border-radius: 5px!important;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #35BAD8;
  --bs-btn-border-color: #35BAD8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #36b3d0;
  --bs-btn-hover-border-color: #2a94ac;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2a94ac;
  --bs-btn-active-border-color: #2a94ac;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #35BAD8;
  --bs-btn-disabled-border-color: #35BAD8;
}
.btn-outline-light {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #227a8e;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248,249,250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-gradient: none;
}