body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #35BAD8;
  padding: 1rem 5rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #fff;
}
/* .header > div {
  background-color: red;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
} */
.container {
  margin-top: 3rem;
}
.font-small {
  font-size: 0.6rem;
}
.text-right {
  text-align: right!important;
}